@charset "utf-8";
@import url('normalize.css');
@import url('reset.css');

@import url("https://cdn.jsdelivr.net/gh/glocy/files@ba2ce5a7d3aec835386e4430c7667cca36c10848/SBAggro.css");


* {
  font-family: 'SB Aggro';
  font-weight: 300;
}
/* 변수 */
:root{
  --main-color : #86CEE0;
  --sub-color1 : #9DB75A;
  --sub-color2 : #E29D70;
}

/* 공용 */
html {
  font-family: 'SB Aggro';
  background: url(../mimages/index-back2.jpg) no-repeat;
  background-size: contain;
}
a {color: #333; text-decoration: none;}
section {
  width: 100%; height: 90vh;
  margin:0 auto;
  padding-top : 60px;
}
section:first-of-type {padding-top:180px;}
section:last-of-type {height: auto;}

.hidden {display : none;}

.d-flex {display : flex;}

.jcsa {justify-content : space-around;}
.jcsb {justify-content: space-between;}

.theme > h2 {
  color:#86CEE0;
  background: url(../mimages/THEME.png) no-repeat;
  background-size: 30%;
  background-position: 250px 50px;
}

.course > h2 {
  color: #9DB75A;
  background: url(../mimages/COURSE.png) no-repeat;
  background-size: 30%;
  background-position: 270px 50px;
}
.goods > h2 {
  color: #E29D70;
  background: url(../mimages/GOODS.png) no-repeat;
  background-size: 30%;
  background-position: 270px 50px;
}
.communication > h2 {
  color: #BF4158;
  background: url(../mimages/NOTICE.png) no-repeat;
  background-size: 30%;
  background-position: 270px 50px;
}
section h2 {
  line-height: 60px;
  border-top:10px solid #dddddd;
  gap:10px;
  padding:30px 0 20px 3%;
  background-size: 30%;
}
section h2 > span {
  font-size: 16px;
}

section h2 > .main_h {
  font-size: 20px;
  color:#333;
}


/* 버튼 서식 */
.long_btn {
  padding : 14px 40px;
  border-radius : 20px;
  background : var(--main-color);
  box-sizing : border-box;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.long_btn:hover {
  background : #5BA1B2;
}
.long_btn:active {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

.short_btn{
  padding : 10px 15px;
  border-radius: 20px;
  background : var(--main-color);
  box-sizing : border-box;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.short_btn:hover {
  background : #5BA1B2;
}
.short_btn:active {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

.more-icon {
  text-decoration: underline;
  color:#A0A0A0;
  display:block;
  text-align: center;
  position: relative;
}
i.fa-plus {color:#BF4158;}