@charset "utf-8";

/* 공통 서식 */
::-webkit-scrollbar {
  display:none;
}

header{
  height: 60px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  z-index: 10;
}

header > h1 {
  padding:15px 10px;
}

header > h1 img {
  width: 200px;
  height: 30px;
}
input[type="checkbox"] {display:none;}
#toggle:checked + header .gnb{left: 0;}

.menu_tap {
  display: block;
  position: absolute;
  top: 50%; right:10px;
  transform: translateY(-50%);
  width: 30px; height: 30px;
  padding:5px;
  background: url(../mimages/sprite.png);
  background-position: 0 -51px;
}

.map {
  display: block;
  position: absolute;
  top: 50%; right:70px;
  transform: translateY(-50%);
  width: 30px; height: 30px;
  padding:5px;
  background: url(../mimages/sprite.png);
  background-position: -340px 0;
}



/* gnb 서식 */
.gnb {
  position: fixed;
  top: 0; left: 100%;
  background: #fff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  transition: .5s;
  z-index: 10;
}
.gnb > .header {
  width: 100%;
  height: 224px;
  background: var(--main-color);
  margin-bottom: 20px;
}
.gnb_top {
  position: relative;
  height: 30%;
}
.gnb_top > .times {
  display:block;
  position: absolute;
  top: 50%; left: 20px;
  transform: translateY(-50%);
  width: 30px; height: 30px;
  padding:5px;
  background: url(../images/sprite.png);
  background-position: -143px 0;
}
.gnb_top > .alarm {
  display:block;
  position: absolute;
  top: 50%; right: 20px;
  transform: translateY(-50%);
  width: 30px; height: 30px;
  padding:5px;
  background: url(../images/sprite.png);
  background-position: 0 0;
}
.gnb_bottom {
  position: relative;
  height: 70%;
}
.gnb_bottom > img {
  float:left;
  width: 100px;
  height: 100px;
  background: #ddd;
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: contain;
  position: absolute;
  top: 50%; left: 20px;
  transform: translateY(-50%);
}
.gnb_bottom > .info_wrap {
  float:right;
  position: absolute;
  top: 50%; right:20px;
  transform: translateY(-50%);
  flex-direction: column;
}
.gnb_bottom > .info_wrap > a {
  display:block;
  font-size: 20px;
  color:#888;
  text-decoration: underline;
  font-weight: 300;
  margin-bottom : 20px;
}
.info{
  align-items: center;
}
.info a {
  line-height: 28px;
  font-family: 'SB Aggro';
}
.info input[type=button] {
  border-radius: 20px;
  width: 94px;
  line-height: 28px;
  border:none;
  font-size: 14px;
  background: #fff;
  text-indent: 20px;
  cursor: pointer;
}
.point {
  display:inline-block;
  background: url(../images/sprite.png);
  background-position: -143px -51px;
  width: 40px; height: 40px;
  transform: scale(.45) translateY(10px);
}
.mileage {
  display:inline-block;
  background: url(../images/sprite.png);
  background-position: -198px -51px;
  width: 40px; height: 40px;
  transform: scale(.45) translateY(10px);
}
.info > label {
  width: 94px; height: 28px;
  position: relative;
}
.check {
  display:inline-block;
  background: url(../images/sprite.png);
  background-position: -393px 0;
  width: 42px; height: 42px;
  transform: scale(.5);
  position: absolute;
  top: -7px; left: -5px;
}
.checked {
  display:inline-block;
  background: url(../images/sprite.png);
  background-position: -93px 0;
  width: 42px; height: 42px;
  transform: scale(.5);
  position: absolute;
  top: -7px; left: -5px;
}

/* nav */
.nav {
  text-align: right;
}
.nav >li {
  box-sizing: border-box;
  border-bottom:1px solid rgba(151, 151, 151, 0.4);
}
.nav >li:first-child {
  padding-top:0;
}
.nav >li >a {
  font-size: 18px;
  display:block;
  padding-right:40px;
  line-height: 64px;
}
.nav > .sub_wrap > a {
  position: relative;
}

/* gnb 슬라이드 토글 */


.down_btn {
  display:block;
  background: url(../images/sprite.png);
  background-position: -43px -51px;
  width: 40px; height: 40px;
  position: absolute;
  top: 50%; left: 30px;
  transform: translateY(-50%) scale(.65);
}

.up_btn {
  display:block;
  background: url(../images/sprite.png);
  background-position: -283px -152px;
  width: 40px; height: 40px;
  position: absolute;
  top: 50%; left: 30px;
  transform: translateY(-20px) scale(.65);
}
.sub {
  display:none;
  background: #333;
  width: 100%;
  margin-top : 25px;
}
.sub li {
  border-bottom: 1px solid #fff;
}
.sub li:last-child {
  border-bottom:none;
}
.sub a {
  color:#fff;
  display:block;
  line-height: 56px;
  padding-right:40px;
  font-size: 12px;
}

.gnb > .footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: #333;
}

.gnb > .footer > p {
  color:#fff;
  font-size: 14px;
  margin: auto 0;
  position: relative;
}
.gnb > .footer > p > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gnb > .footer > p:last-child{
  text-indent: -20px;
}
.lang {
  display:inline-block;
  background: url(../images/sprite.png);
  background-position: -242px 0;
  width: 42px; height: 42px;
  margin:0 10px 0 20px;
  transform: scale(.71);
}

.opt {
  display:inline-block;
  background: url(../images/sprite.png);
  background-position: -193px 0;
  width: 42px; height: 42px;
  position: absolute;
  top: 50%; right: 50px;
  transform: translateY(-50%) scale(.71);
}






